/*
.face-snap-card {
    border: solid 1px #e0e0e0;
    width: 15vw;
    height: 100%;
    img{
        width: 100%;
    }
    h2, p{
        padding: 5px;
        text-align: center;
    }
    button{
        width: 100%;
        padding: 10px;
        background-color: #335535;
        color: white;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: #c2e7c3;
            color: black;
        }
    }
}
*/
.face-snap-card {
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    img {
        width: 100%;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }
}
.snapped {
    background-color: rgba(lightgreen, 0.4);
    color: darkgreen;
    button {
        box-shadow: lightgreen 3px 3px 7px;
        color: darkgreen;
        &:active {
            box-shadow: lightgreen 0 0 5px;
        }
    }
}