header {
    text-align: center;
    background-color: #303030;
    margin-bottom: 20px;
    padding: 20px;
    a {
        margin: 0 10px;
        color: #dddddd;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h1{
        color: #dfdfdf;
    }
    
    .active {
        color: #dfdfdf;
        text-decoration: underline;
    }
}

