.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .face-snap-card {
        margin: 20px auto;
        padding: 10px 30px;
        h2 {
            margin-bottom: 0;
        }
        p {
            font-weight: 300;
            font-size: 16px;
        }
 
    }

}