<div class="card-container">
    <button (click)="filterFaceSnap()">Filtre</button>
    <div class="face-snap">
        <app-face-snap *ngFor="let faceSnap of faceSnaps$ | async" [faceSnap]="faceSnap" class="face-snap-card"></app-face-snap>
    </div>
</div>









    <!-- Si on veut ajouter des filtres pour afficher uniquement les facesnaps avec plus de 5 snaps 

    <app-face-snap [faceSnap]="mySnap" *ngIf="mySnap.snaps > 5"></app-face-snap>
    <app-face-snap [faceSnap]="myOtherSnap" *ngIf="myOtherSnap.snaps > 5"></app-face-snap>
    <app-face-snap [faceSnap]="myLastSnap" *ngIf="myLastSnap.snaps > 5"></app-face-snap>
    -->

